<!DOCTYPE html>
<html>
<% include include/head.ejs %>

<body>
<% include include/header.ejs %>

<div class="hu_content_area">
  <h1 class="main_title">Shorten URL</h1>
  <h2 class="s_url_area"></h2>
</div>

</body>

</html>
