<head>
  <title><%= title %></title>
  <!-- Style Sheet Area Start-->
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel="stylesheet" href="/vender/normalize-css/normalize.css"/>
  <!-- Style Sheet Area End-->

  <!-- Script Area Start-->
  <script src="/vender/jquery/dist/jquery.min.js"></script>
  <script src="/vender/underscore/underscore-min.js"></script>
  <!-- Script Area End-->

</head>